/*
  Possible Animations:
  enter
  exit
  appear Must set transitionAppear={true} on animation component
*/

.order-enter {
  transition-duration: 0.5s;
  transform: translateX(-120%);
  max-height: 0;
  padding: 0;
}

.order-enter.order-enter-active {
  transform: translateX(0);
  max-height: 60px;
  padding: 2rem 0 !important;
}

.order-exit {
  transition-duration: 0.5s;
  transform: translateX(0);
}

.order-exit.order-exit-active {
  transform: translateX(120%);
  padding: 0;
}

.count-enter {
  transition-duration: 0.5s;
  transform: translateY(100%);
}

.count-enter.count-enter-active {
  transform: translateY(0);
}

.count-exit {
  transition-duration: 0.5s;
  transform: translateY(0);
  position: absolute;
  left: 0;
  bottom: 0;
}

.count-exit.count-exit-active {
  transform: translateY(-100%);
}